<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <%- include("partials/navbar.ejs") %>

    <div class="container">
      <h1>Home Page</h1>
      <p>
        <br>
        <br>
        <b>01. Best photography blog:</b>
        Zion Adventure PhotogThe Zion Adventure Photog blog establishes owner Arika as an expert of both photography and
        Zion National Park.
        The blog’s rugged, playful color scheme of brown and gold evokes nature and sunshine. Its homepage features
        visual testimonials of happy clients enjoying their adventures. Arika embeds her Instagram Feed directly onto
        her site, spreading the word about her service and drawing people deeper into her brand through social media
        marketing. Key takeaways
        Have a clear purpose for your blog. Arika successfully showcases her photography portfolio and establishes her
        expertise of the Zion area. This clear purpose helps her to focus her content and to attract the right audience.
        Be an expert in your field. Arika is an expert in canyoneering and hiking, and her knowledge comes through in
        her blog posts. She provides detailed guidance on these activities, which is invaluable to her audience.
      </p>
    </div>

    <script src="/js/bootstrap.min.js"></script>
</body>

</html>